.jumbotron {
    overflow: auto;
}

.jumbotron p {
    font-size: 12px;
    padding: 2px;
    margin: 0.5px;
}

#side-nav {
	float: left;
	margin-right: 5%;
	width: 20%;
	border-top: 1px solid #acacac;
	/*border-radius: 5px;*/

}

#side-nav h4 {
	margin: 10px 0;
	text-align: center;
}

#var-num {
	width: 30%;
}

#app.jumbotron {
	background-color: #f5f5f5;
}

#app .var-info {
	display: inline-block;
	margin-right: 2%;
	border: 1px solid #8b8b8b;
	border-radius: 3px;
	padding: 2.5%;
}

#side-nav .var-link {
	color: #5f5f5f;
	cursor: pointer;
}

#side-nav .var-link:hover {
	color: #000;
}

#side-nav .var-del {
	color: #5f5f5f;
	cursor: pointer;
	float: right;
}

#side-nav .var-del:hover {
	color: #000;
}
